[logstash-{{ logstash_version_repo }}]
name=Logstash repository for {{ logstash_version_repo }} packages
baseurl={{ logstash_yum_repository }}
gpgcheck=1
gpgkey={{ logstash_gpg_key }}
enabled=1
autorefresh=1
type=rpm-md
